@{
    ViewBag.Title = "Home Page";
}

<div>
    Enter your query here

    <input type="text" name="input" id="input" />
    <button type="button" onclick="sendMessage();">Send</button>

    <div>
        <label id="output">

        </label>
    </div>

</div>

@section scripts
{
    <script>
        // Send ajax call
        function sendMessage() {
            value = $('#input').val();
            $.ajax({
                url: '@Url.Action("SendTextMessage", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {text: value},
                success: function (data) {

                    // Display output
                    if (data.Response == "error") {
                        // Show Error

                        $('#output').html($('#output').html() + "<br/>Error Occurred");
                    } else {
                        $('#output').html($('#output').html() + "<br/>" + data.Response);
                    }

                    $('#input').val('');

                    console.log(data);
                },
                error: function () {
                    alert("Error");
                }
            });
        }
    </script>
}