@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="form-horizontal form-material">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your query here" name="input" id="input" />
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-info btn-sm btn-block text-uppercase waves-effect waves-light" onclick="sendMessage();">Send</button>
            </div>

        </div>
        <div>
            <label id="output">

            </label>
        </div>
    </div>

</div>

@section scripts
{
    <script>
        // Send ajax call
        function sendMessage() {
            value = $('#input').val();
            $.ajax({
                url: '@Url.Action("SendTextMessage", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {text: value},
                success: function (data) {

                    // Display output
                    if (data.Response == "error") {
                        // Show Error

                        $('#output').html("Error Occurred<br/><hr/>" + $('#output').html());
                    } else {
                        $('#output').html(data.Response + "<br/><hr/>" + $('#output').html());
                    }

                    $('#input').val('');

                    console.log(data);
                },
                error: function () {
                    alert("Error");
                }
            });
        }
    </script>
}